.body{
    background-color: rgb(170, 154, 154);
}
.les {
    margin-top: 7%;
    margin-left: 12%;
}
.cart{
    margin-top: 2%;
 
  
}
#modal{
    display: none;
}
/* .model{
    width: 100%;
    background-color: brown;
    border: 12px; %;
    bor
} */